<h1>&Aacute;rboles</h1>
<form action="arboles" method="post">
    {% csrf_token %}
    <textarea id="entry" name="entry" placeholder="Entrada" rows="17" cols="100" class="area" required>{{ entrada }}</textarea>
    <br />
    <button class="button">Procesar</button>
    <a href="index" class="button2">Volver al Inicio</a>
</form>
<br />
<textarea placeholder="Salida" rows="17" cols="100" class="area" readonly>{{ resultado }}</textarea>
<footer>
    <br />
    <br />
    <hr />
    <a href="mailto:nare.softwareentwickler.1990@gmail.com" class="footer-link">Nestor Rojas. <span class="copyleft">&copy;</span> 2019</a>
</footer>
<style>
    .area {
        resize: none;
    }
    .button {
        display: inline-block;
        width: 115px;
        height: 50px;
        background: #7700ff;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }
    .button2 {
        display: inline-block;
        width: 115px;
        height: 25px;
        background: #7700ff;
        font-size: 13px;
        text-decoration: none;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }
    .copyleft {
        display:inline-block;
        transform: rotate(180deg);
    }
    .footer-link {
        color: black;
        text-decoration: none;
    }
</style>