<h1>Ejercicios Resueltos</h1>
<br />
<a class="button" href="mediana">Mediana</a>
<br />
<a class="button" href="arboles">Árboles</a>
<footer>
    <br />
    <br />
    <hr />
    <a href="mailto:nare.softwareentwickler.1990@gmail.com" class="footer-link">Nestor Rojas. <span class="copyleft">&copy;</span> 2019</a>
</footer>
<style>
    .copyleft {
        display:inline-block;
        transform: rotate(180deg);
    }
    .footer-link {
        color: black;
        text-decoration: none;
    }
    .button {
        display: block;
        width: 115px;
        height: 25px;
        background: #7700ff;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        border-radius: 5px;
        color: white;
        font-weight: bold;
    }
</style>